
// _background-cover.scss
// Fill elements with a background image

@mixin background-cover($imgurl: false, $position: 'center center') {
  @if $imgurl {
    background-image: url($imgurl);
  }
  background-position: unquote($position);
  background-repeat: no-repeat;
  background-size: cover;
}
